@import 'themes';
@import 'mixin';


.button-root {
  @include allButtonsDefault($buttonStandardColor);
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  padding: 8px 12px;
  border: 1px solid black;
  min-width: 120px;
  font-size: $c-font-button-size;
  background: none;
  line-height: 1.5;
  border-radius: 3px;
  //color: theme-var($--color-primary-font);
  color: rgba(3, 52, 78, 0.85);
  box-shadow: $boxShadow;

  @media screen and (max-width: $c-mobile-version-width) {
    min-width: 60px;
  }

  .button-icon {
    position: absolute;
    top: 13px;
    left: 7px;
    font-size: $c-font-button-icon-size;
    color: white;
  }

  &.outline {
    color: theme-var($--color-primary);
    .button-icon {
      top: 8px;
      color: theme-var($--color-primary);
    }
  }

  .button-icon-right {
    position: absolute;
    top: 13px;
    right: 7px;
    font-size: $c-font-button-icon-size;
    color: white;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    // box-shadow: $boxShadow;
    cursor: pointer;
  }

  &:active {
    opacity: 0.9;
    transform: scale(0.98);
  }

  &.primary {
    @include allButtonsDefault(rgba(3, 52, 78, 0.85));
  }

  &.secondary {
    @include allButtonsDefault(theme-var($--color-secondary));
  }

  &.success {
    @include allButtonsDefault($buttonSuccessColor);
  }

  &.danger {
    @include allButtonsDefault($buttonDangerColor);
  }

  &.info {
    @include allButtonsDefault($buttonInfoColor);
  }

  &.appDefaultColor{
    @include allButtonsDefault($buttonColorDefaultApp);
  }

  &.sm {
    //padding: $buttonSizeLg;
    padding: 4px 8px;
    font-size: $c-font-button-size - 2px;
    min-width: 80px;
  }

  &.lg {
    min-width: 150px;
    padding: $buttonSizeLg;
  }

  &.glossy {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0.3),hsla(0,0%,100%,0) 50%,rgba(0,0,0,0.12) 51%,rgba(0,0,0,0.04));
  }

}


.button-action-root {
  margin: auto;
  max-width: 200px;

  &.button-action-space-1 {
    margin: 3px auto;
  }
  &.button-action-space-2 {
    margin: 6px auto;
  }
  &.button-action-space-3 {
    margin: 9px auto;
  }
  &.button-action-space-4 {
    margin: 12px auto;
  }
  &.button-action-space-5 {
    margin: 15px auto;
  }
  &.button-action-space-6 {
    margin: 18px auto;
  }
  &.button-action-space-7 {
    margin: 21px auto;
  }
  &.button-action-space-8 {
    margin: 24px auto;
  }
  &.button-action-space-9 {
    margin: 27px auto;
  }
  &.button-action-space-10 {
    margin: 30px auto;
  }
}



//FAB BUTTON


.fab-button-root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  border-radius: 100%;
  font-size: $c-font-button-size;
  background: none;
  line-height: 1.5;
  color: theme-var($--color-primary-font);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  width: 40px;
  height: 40px;

  &:hover{
    transform: scale(1.3);

  }


  .button-icon {
    font-size: $c-font-button-icon-size;
    color: white;
  }

  &.outline {
    color: theme-var($--color-primary);
    .button-icon {
      top: 8px;
      color: theme-var($--color-primary);
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {

    transform: scale(1.02);
    box-shadow: 0px 0px 12px -4px theme-var($--color-primary);
  }

  &:active {
    opacity: 0.9;
    transform: scale(0.98);
  }

  &.primary {
    @include allFabButtonsDefault(theme-var($--color-primary));
  }

  &.secondary {
    @include allFabButtonsDefault(theme-var($--color-secondary));
  }

  &.success {
    @include allFabButtonsDefault($buttonSuccessColor);
  }

  &.danger {
    @include allFabButtonsDefault($buttonDangerColor);

  }

  &.info {
    @include allFabButtonsDefault($buttonInfoColor);
  }


  &.appDefaultColor{
    @include allButtonsDefault($buttonColorDefaultApp);
  }


  &.sm {
    font-size: $c-font-button-size - 2px;
    width: 30px;
    height: 30px;
  }

  &.lg {
    width: 50px;
    height: 50px;
    .button-icon {
      font-size: $c-font-button-size + 2px;
    }
  }

  &.glossy {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0.3),hsla(0,0%,100%,0) 50%,rgba(0,0,0,0.12) 51%,rgba(0,0,0,0.04));
  }

}
