@import 'themes';
@import 'mixin';

.hw-check-box-root {
  display: flex;
  align-items: center;
  padding: 4px;
  @include no-user-select;
  @include component-disabled;
  @include flex-directions;
}

.hw-check-box-label {
  color: theme-var($--color-primary-font);
  font-size: $c-font-input-size;
  margin: 0px;
  padding: 0px 8px;
}

.hw-check-box-data {
  cursor: pointer;
  padding: 0px 4px;
  color: theme-var($--color-primary);
  position: relative;
  min-width: 20px;
  min-height: 20px;
  &.hw-disabled {
    cursor: not-allowed;
  }
}

.hw-check-box-icon {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  transform: scale(1.4);
  font-size: $c-font-size;
  position: absolute;
  bottom: 2px;

  &.hw-visible {
    opacity: 1;
  }

  &.hw-invisible {
    opacity: 0;
  }
}
